<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board</title>
</head>
<body>
    <form method="POST" action="/new">
        <div>
            <label for="user">Username:</label>
            <input type="text" id="user" name="user">
        </div>
        <br>
        <div>
            <label for="text">Message:</label>
            <input id="text" name="text">
        </div>
        <br>
        <div>
            <button type="submit">Send Message</button>
        </div>
    </form>
</body>
</html>